@import 'tailwindcss';

@font-face {
	font-family: 'Fliege Mono';
	src: url('fonts/FliegeMonoVF.woff2') format('woff2-variations');
	/* or maybe .ttf, depending on what you converted it to */
	font-weight: 100 900;
	font-style: normal;
}

html {
	font-family: 'Fliege Mono';

	background-color: black;
	color: rgb(224, 224, 224);
}

.grid-8 {
	display: grid;
	grid-template-columns: repeat(8, minmax(0, 1fr));
	gap: 1.5rem;
}
