@import 'tailwindcss';

@theme {
	--breakpoint-lg: 72rem;
}

@font-face {
	font-family: 'Fliege Mono';
	src: url('/fonts/FliegeMonoVF.woff2') format('woff2-variations');
	/* or maybe .ttf, depending on what you converted it to */
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

/* orbitron-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/orbitron-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* orbitron-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/orbitron-v35-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* orbitron-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/orbitron-v35-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* orbitron-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/orbitron-v35-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* orbitron-800 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/orbitron-v35-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* orbitron-900 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/orbitron-v35-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
	background-color: black;
	color: rgb(224, 224, 224);
	-webkit-tap-highlight-color: unset;
	font-size: clamp(14px, 1.5vw, 16px);
}

html,
.font-1 {
	font-family: 'Fliege Mono';
	letter-spacing: -2%;
	line-height: 123%;
	/* line-height: 113%; */
	font-weight: 500;
}

.grid-8 {
	display: grid;
	grid-template-columns: repeat(8, minmax(0, 1fr));
	gap: 1.5rem;
}

.font-2 {
	font-family: 'Orbitron';
	letter-spacing: 4%;
}

.text-2 {
	color: rgb(109, 109, 109);
}
